* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Dancing Script', cursive;
        font-family: 'Grape Nuts', cursive;
        font-family: 'Oleo Script Swash Caps', cursive; */
}

#name {
    font-size: 60px;
}

/* .container-fluid span {
    color: red;
} */

/* .h5 {
    font-family: 'Times New Roman', Times, serif;
} */

#aboutme {
    font-size: x-large;
}

.navbar li :hover {
    color: white
}

.list-group {
    width: 30%;

}

.list-group :hover {
    background-color: gainsboro
}

/* .list-group-item:hover {
    color: black
} */

.card {
    float: left;
    width: 25%;
}

html {
    scroll-behavior: smooth;
}

#image {
    border: solid;
    border-radius: 30px;
}

.card:hover {
    transform: scale(1.10) translateZ(0);
    transition: all 0.3s ease-in-out;
}

#imagelast {
    width: 5%;
    height: 5%;
}

.container-fluid a :hover {
    color: blue;
}

#ftxt {
    color: black;
}

.fa :hover {
    color: red;
}

#flogo {
    width: 50px;
    height: 50px;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.snip1226 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.snip1226 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1226 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.snip1226 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.snip1226 a:before,
.snip1226 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1226 a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #e67e22;
}

.snip1226 a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    /* color: white; */
    white-space: nowrap;
}

.snip1226 li:hover a,
.snip1226 .current a {
    transform: translateY(100%);
}